In [ ]:
import re
import nltk
import joblib
import numpy as np
import pandas as pd
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

##load data

In [ ]:
data=pd.read_csv("/content/netflix_titles.csv", encoding='latin1')

##EDA

In [ ]:
print(f"data shape : {data.shape}")
print(f"data of columns : {data.columns}")
print(f"info abute data : {data.info()}")
print(f"data describe : {data.describe()}")
print("first 5 rows in data")
data.head()

data shape : (8809, 26)
data of columns : Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8809 entries, 0 to 8808
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8809 non-null   object
 1   type          8809 non-null   object
 2   title         8809 non-null   object
 3   director      6175 non-null   object
 4   cast          7984 non-null   object
 5   country       7978 non-null   object
 6   date_added    8799 non-null   object
 7   release_year  8809 non-null   int64
 8   rating        8805 non-null   object
 9   duration      8806 non-null   object
 10  listed_in     8809 non-null   object
 11  description   8809 non-null   object
 12  Unnamed: 12   0 non-null      float64
 13  Unnamed: 13   0 non-null      float64
 14  Unnamed: 14   0 non-null      float64
 15  Unnamed: 15   0 non-null      float64
 16  Unnamed: 16   0 non-null      float64
 17  Unnamed: 17   0 non-null      float64
 18  Unnamed: 18   0 non-null      float64
 19  Unnamed: 19   0 non-null      float64
 20  Unnamed: 20   0 non-null      float64
 21  Unnamed: 21   0 non-null      float64
 22  Unnamed: 22   0 non-null      float64
 23  Unnamed: 23   0 non-null      float64
 24  Unnamed: 24   0 non-null      float64
 25  Unnamed: 25   0 non-null      float64
dtypes: float64(14), int64(1), object(11)
memory usage: 1.7+ MB
info abute data : None
data describe :        release_year  Unnamed: 12  ...  Unnamed: 24  Unnamed: 25
count   8809.000000          0.0  ...          0.0          0.0
mean    2014.181292          NaN  ...          NaN          NaN
std        8.818932          NaN  ...          NaN          NaN
min     1925.000000          NaN  ...          NaN          NaN
25%     2013.000000          NaN  ...          NaN          NaN
50%     2017.000000          NaN  ...          NaN          NaN
75%     2019.000000          NaN  ...          NaN          NaN
max     2024.000000          NaN  ...          NaN          NaN

[8 rows x 15 columns]
first 5 rows in data

  show_id     type  ... Unnamed: 24 Unnamed: 25
0      s1    Movie  ...         NaN         NaN
1      s2  TV Show  ...         NaN         NaN
2      s3  TV Show  ...         NaN         NaN
3      s4  TV Show  ...         NaN         NaN
4      s5  TV Show  ...         NaN         NaN

[5 rows x 26 columns]

In [ ]:
data=data.drop(data[['Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15','Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19','Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23','Unnamed: 24', 'Unnamed: 25']],axis=1)

In [ ]:
print(f"data shape : {data.shape}")
print(f"data of columns : {data.columns}")
print(f"info abute data : {data.info()}")
print(f"data describe : {data.describe()}")
print("first 5 rows in data")
data.head()

data shape : (8809, 12)
data of columns : Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8809 entries, 0 to 8808
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8809 non-null   object
 1   type          8809 non-null   object
 2   title         8809 non-null   object
 3   director      6175 non-null   object
 4   cast          7984 non-null   object
 5   country       7978 non-null   object
 6   date_added    8799 non-null   object
 7   release_year  8809 non-null   int64
 8   rating        8805 non-null   object
 9   duration      8806 non-null   object
 10  listed_in     8809 non-null   object
 11  description   8809 non-null   object
dtypes: int64(1), object(11)
memory usage: 826.0+ KB
info abute data : None
data describe :        release_year
count   8809.000000
mean    2014.181292
std        8.818932
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2024.000000
first 5 rows in data

  show_id  ...                                        description
0      s1  ...  As her father nears the end of his life, filmm...
1      s2  ...  After crossing paths at a party, a Cape Town t...
2      s3  ...  To protect his family from a powerful drug lor...
3      s4  ...  Feuds, flirtations and toilet talk go down amo...
4      s5  ...  In a city of coaching centers known to train I...

[5 rows x 12 columns]

In [ ]:
for col in data.select_dtypes(include=['object']).columns:
  print("columns name : ",col)
  values_in_col=data[col].value_counts()
  print(values_in_col)
  print("_________________________________________________")

columns name :  show_id
show_id
s8809    1
s1       1
s2       1
s3       1
s4       1
        ..
s14      1
s13      1
s12      1
s11      1
s10      1
Name: count, Length: 8809, dtype: int64
_________________________________________________
columns name :  type
type
Movie      6132
TV Show    2677
Name: count, dtype: int64
_________________________________________________
columns name :  title
title
22-Jul                                                           2
Feb-09                                                           2
15-Aug                                                           2
Trailer Park Boys: Drunk, High and Unemployed: Live in Austin    1
The Ridiculous 6                                                 1
                                                                ..
Azali                                                            1
Dragons: Rescue Riders                                           1
Fifty: The Series                                                1
Horse Girl                                                       1
Better Call Saul                                                 1
Name: count, Length: 8806, dtype: int64
_________________________________________________
columns name :  director
director
Rajiv Chilaka                   19
Ral Campos, Jan Suter         18
Suhas Kadav                     16
Marcus Raboy                    16
Jay Karas                       14
                                ..
Stig Bergqvist, Paul Demeyer     1
Nicholaus Goossen                1
Vrinda Samartha                  1
Roy Poortmans                    1
Lela Sy, Kery James            1
Name: count, Length: 4529, dtype: int64
_________________________________________________
columns name :  cast
cast
David Attenborough                                                                                                                                                                            19
Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jigna Bhardwaj, Rajesh Kava, Mousam, Swapnil                                                                                                       14
Samuel West                                                                                                                                                                                   10
Jeff Dunham                                                                                                                                                                                    7
Craig Sechler                                                                                                                                                                                  6
                                                                                                                                                                                              ..
Takeru Sato, Kasumi Arimura, Haru, Kentaro Sakaguchi, Takayuki Yamada, Kendo Kobayashi, Ken Yasuda, Arata Furuta, Suzuki Matsuo, Koichi Yamadera, Arata Iura, Chikako Kaku, Kotaro Yoshida     1
Toyin Abraham, Sambasa Nzeribe, Chioma Chukwuka Akpotha, Chioma Omeruah, Chiwetalu Agu, Dele Odule, Femi Adebayo, Bayray McNwizu, Biodun Stephen                                               1
Neeraj Kabi, Geetanjali Kulkarni, Danish Husain, Sheeba Chaddha, Paras Priyadarshan, Anshul Chauhan, Anud Singh Dhaka, Shirin Sewani, Mihir Ahuja, Vasundhara Rajput                           1
Sanjay Dutt, Arjun Kapoor, Kriti Sanon, Zeenat Aman, Mohnish Bahl, Padmini Kolhapure, Kunal Kapoor, Suhasini Mulay                                                                             1
Bob Odenkirk, Jonathan Banks, Michael McKean, Rhea Seehorn, Patrick Fabian, Michael Mando, Giancarlo Esposito                                                                                  1
Name: count, Length: 7694, dtype: int64
_________________________________________________
columns name :  country
country
United States                                                      2819
India                                                               972
United Kingdom                                                      419
Japan                                                               245
South Korea                                                         200
                                                                   ...
Mexico, United States, Spain, Colombia                                1
Canada, Norway                                                        1
Finland, Germany, Belgium                                             1
Argentina, United States, Mexico                                      1
United Kingdom, United States, Germany, Denmark, Belgium, Japan       1
Name: count, Length: 748, dtype: int64
_________________________________________________
columns name :  date_added
date_added
January 1, 2020      109
November 1, 2019      89
March 1, 2018         75
December 31, 2019     74
October 1, 2018       71
                    ...
February 15, 2015      1
February 11, 2017      1
October 14, 2015       1
July 10, 2016          1
May 24, 2018           1
Name: count, Length: 1768, dtype: int64
_________________________________________________
columns name :  rating
rating
TV-MA       3208
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
66 min         1
84 min         1
74 min         1
A              1
Name: count, dtype: int64
_________________________________________________
columns name :  duration
duration
1 Season     1794
2 Seasons     425
3 Seasons     199
90 min        152
97 min        146
             ...
228 min         1
18 min          1
205 min         1
201 min         1
191 min         1
Name: count, Length: 220, dtype: int64
_________________________________________________
columns name :  listed_in
listed_in
Dramas, International Movies                                  362
Documentaries                                                 359
Stand-Up Comedy                                               334
Comedies, Dramas, International Movies                        274
Dramas, Independent Movies, International Movies              252
                                                             ...
Comedies, Cult Movies, Sports Movies                            1
Action & Adventure, Faith & Spirituality, Sci-Fi & Fantasy      1
Children & Family Movies, Classic Movies, Dramas                1
International TV Shows, Reality TV, TV Action & Adventure       1
Drama, Romance, Thriller                                        1
Name: count, Length: 516, dtype: int64
_________________________________________________
columns name :  description
description
Paranormal activity at a lush, abandoned property alarms a group eager to redevelop the site, but the eerie events may not be as unearthly as they think.    4
A surly septuagenarian gets another chance at her 20s after having her photo snapped at a studio that magically takes 50 years off her life.                 3
Multiple women report their husbands as missing but when it appears they are looking for the same man, a police officer traces their cryptic connection.     3
Challenged to compose 100 songs before he can marry the girl he loves, a tortured but passionate singer-songwriter embarks on a poignant musical journey.    3
This educational series for tiny tots features a toe-tapping spin on nursery rhymes with upbeat tunes and a diverse set of easy-to-follow lessons.           2
                                                                                                                                                            ..
Decades after the assassination of African American leader Malcolm X, an activist embarks on a complex mission seeking truth in the name of justice.         1
Thirty years after a disease that turns the infected into carnivorous insects emerged, a young exterminator and a teenage girl search for her mother.        1
As corrupt governments fail to stop the slaughter of elephants for ivory, an 80-year-old woman and a crew of rangers bravely try to end the poaching.        1
Based on DC Comics' Green Arrow, an affluent playboy becomes a vengeful superhero, saving the city from villains armed with just a bow and arrows.           1
A sweet misfit with a fondness for crafts, horses and supernatural crime shows finds her increasingly lucid dreams trickling into her waking life.           1
Name: count, Length: 8777, dtype: int64
_________________________________________________

##data clineing

In [ ]:
#take copy from oragnal data
df=data.copy()

In [ ]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [ ]:
#handling missing values
df['director']=df['director'].fillna(value=df['director'].mode().iloc[0])
df['country']=df['country'].fillna(value=df['country'].mode().iloc[0])
df['date_added']=df['date_added'].fillna(value=df['date_added'].mode().iloc[0])
df['rating']=df['rating'].fillna(value=df['rating'].mode().iloc[0])
df['duration']=df['duration'].fillna(value=df['duration'].mode().iloc[0])
df=df.dropna()

In [ ]:
print(df.shape)
df.isnull().sum()

(7984, 12)

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [ ]:
for col in df:
  values_in_col1=df[col].unique()
  print(f"columns name : {col} \n {values_in_col1} \n _________________________________________")

columns name : show_id
 ['s2' 's3' 's5' ... 's8807' 's8808' 's8809']
 _________________________________________
columns name : type
 ['TV Show' 'Movie']
 _________________________________________
columns name : title
 ['Blood & Water' 'Ganglands' 'Kota Factory' ... 'Zubaan'
 'Parasyte: The Grey' 'Serena']
 _________________________________________
columns name : director
 ['Rajiv Chilaka' 'Julien Leclercq' 'Mike Flanagan' ... 'Peter Hewitt'
 'Mozez Singh' 'Yeon Sang-ho']
 _________________________________________
columns name : cast
 ['Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy Mahlangu, Ryle De Morny, Greteli Fincham, Sello Maake Ka-Ncube, Odwa Gwanya, Mekaila Mathys, Sandi Schultz, Duane Williams, Shamilla Miller, Patrick Mofokeng'
 'Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabiha Akkari, Sofia Lesaffre, Salim Kechiouche, Noureddine Farihi, Geert Van Rampelberg, Bakary Diombera'
 'Mayur More, Jitendra Kumar, Ranjan Raj, Alam Khan, Ahsaas Channa, Revathi Pillai, Urvi Singh, Arun Kumar'
 ...
 'Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanana, Manish Chaudhary, Meghna Malik, Malkeet Rauni, Anita Shabdish, Chittaranjan Tripathy'
 'Shin Hyun-been, Jeon Yeo-bin, Goo Kyo-hwan'
 "Bradley Cooper, Jennifer Lawrence, Toby Jones, Rhys Ifans, Ana Ularu, Sam Reid, Sean Harris, Blake Ritson, David Dencik, Charity Wakefield, Ned Dennehy, Kim Bodnia, Christian McKay, Conleth Hill, Bodil Jrgensen, Douglas Hodge, Hilton McRae, Pavel K?\x9e, Filip Ka?kovsk, Helena Dvo?kov, Jim High, Nata\x9aa Burger, Mark O'Neal, Michael Ryan, Pavel ?ezn?ek, Petr Van?k, Philip Zandn, Todd Wagner, Jan Monczka, Barbora Luke\x9aov, Vladimr Marek, Ji? Maria Sieber, Raymond Waring, Petr Drozda, John Comer, Benedetta Degli Innocenti"]
 _________________________________________
columns name : country
 ['South Africa' 'United States' 'India'
 'United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia'
 'United Kingdom' 'Germany, Czech Republic' 'Mexico' 'Turkey' 'Australia'
 'United States, India, France' 'Finland' 'China, Canada, United States'
 'South Africa, United States, Japan' 'Nigeria' 'Japan'
 'Spain, United States' 'Belgium' 'United Kingdom, United States'
 'United States, United Kingdom' 'France, United States' 'South Korea'
 'Spain' 'United States, Singapore' 'United Kingdom, Australia, France'
 'United Kingdom, Australia, France, United States'
 'United States, Canada' 'Germany, United States'
 'South Africa, United States' 'United States, Mexico'
 'United States, Italy, France, Japan'
 'United States, Italy, Romania, United Kingdom'
 'Australia, United States' 'Argentina, Venezuela'
 'United States, United Kingdom, Canada' 'China, Hong Kong' 'Russia'
 'Canada' 'Hong Kong' 'United States, China, Hong Kong'
 'Italy, United States' 'United States, Germany' 'France'
 'United Kingdom, Canada, United States' ', South Korea' 'Ireland'
 'India, Nepal' 'New Zealand, Australia, France, United States' 'Italy'
 'Italy, Brazil, Greece' 'Argentina' 'Jordan' 'Colombia'
 'United States, Japan' 'Switzerland, United Kingdom, Australia'
 'Israel, United States' 'Canada, United States' 'Argentina, Spain'
 'Taiwan' 'United States, Nigeria' 'Bulgaria, United States'
 'Spain, United Kingdom, United States' 'United States, China'
 'United States, France' 'Spain, France, United Kingdom, United States'
 ', France, Algeria' 'Poland' 'Germany'
 'France, Israel, Germany, United States, United Kingdom' 'New Zealand'
 'Saudi Arabia' 'Thailand' 'Indonesia' 'United States, Switzerland'
 'Hong Kong, Canada, United States' 'Kuwait, United States'
 'France, Canada, United States, Spain' 'France, Netherlands, Singapore'
 'France, Belgium' 'Ireland, United States, United Kingdom' 'Egypt'
 'Malaysia' 'Israel' 'Australia, New Zealand' 'United Kingdom, Germany'
 'Belgium, Netherlands' 'South Korea, Czech Republic' 'Australia, Germany'
 'Vietnam' 'United Kingdom, Belgium'
 'United Kingdom, Australia, United States' 'France, Japan, United States'
 'United Kingdom, Germany, Spain, United States'
 'United Kingdom, United States, France, Italy'
 'United States, Germany, Canada'
 'United States, France, Italy, United Kingdom'
 'United States, United Kingdom, Germany, Hungary'
 'United States, New Zealand' 'Sweden' 'China' 'Lebanon' 'Brazil'
 'Romania' 'Finland, Germany' 'Lebanon, Syria' 'Philippines' 'Iceland'
 'Denmark' 'United States, India' 'Philippines, Singapore, Indonesia'
 'China, United States, Canada' 'Lebanon, United Arab Emirates'
 'Canada, United States, Denmark' 'United Arab Emirates'
 'Mexico, France, Colombia' 'Netherlands' 'Germany, United States, France'
 'United States, Bulgaria'
 'United Kingdom, France, Germany, United States' 'Norway, Denmark'
 'Syria, France, Lebanon, Qatar' 'Mauritius' 'Canada, South Africa'
 'Austria' 'Mexico, Brazil' 'Germany, France' 'Mexico, United States'
 'United Kingdom, France, Spain, United States' 'United States, Australia'
 'United States, United Kingdom, France' 'United States, Russia'
 'United States, United Kingdom, New Zealand' 'Australia, United Kingdom'
 'Canada, Nigeria, United States'
 'France, United States, United Kingdom, Canada' 'France, United Kingdom'
 'India, United Kingdom' 'Canada, United States, Mexico'
 'United Kingdom, Germany, United States'
 'Czech Republic, United Kingdom, United States' 'China, United Kingdom'
 'Italy, United Kingdom' 'China, Taiwan' 'Cameroon' 'Japan, United States'
 'Egypt, Saudi Arabia'
 'United Kingdom, France, Poland, Germany, United States'
 'Ireland, Switzerland, United Kingdom, France, United States'
 'United Kingdom, South Africa, France'
 'Ireland, United Kingdom, France, Germany' 'Russia, United States'
 'United Kingdom, United States, France' 'United Kingdom,'
 'United States, India, United Kingdom' 'Kenya' 'Spain, Argentina'
 'India, United Kingdom, France, Qatar' 'Belgium, France'
 'Argentina, Chile' 'United States, Thailand' 'Chile, Brazil'
 'United States, Colombia' 'Canada, United States, United Kingdom'
 'Luxembourg' 'United States, Cambodia, Romania' 'Bangladesh'
 'Spain, Belgium, United States'
 'United Kingdom, United States, Australia'
 'Canada, United States, France' 'Portugal, United States'
 'Portugal, Spain' 'India, United States' 'United Kingdom, Ireland'
 'United Kingdom, Spain, United States' 'Hungary, United States'
 'United States, South Korea' 'Canada, United States, Cayman Islands'
 'India, France' 'France, Canada' 'Canada, Hungary, United States'
 'Norway' 'Canada, United Kingdom, United States'
 'United Kingdom, Germany, France, United States' 'Denmark, United States'
 'Senegal' 'France, Algeria'
 'United Kingdom, Finland, Germany, United States, Australia, Japan, France, Ireland'
 'Philippines, Canada, United Kingdom, United States'
 'Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong'
 'Singapore' 'Kuwait' 'United States, France, Serbia'
 'United States, Italy' 'Spain, Italy'
 'United States, Ireland, United Kingdom, India'
 'United Kingdom, Singapore' 'Hong Kong, United States'
 'United States, Malta, France, United Kingdom'
 'United States, China, Canada' 'Canada, United States, Ireland'
 'Japan, Canada, United States' 'Spain, France, Canada'
 'Denmark, Singapore, Canada, United States'
 'United States, France, Denmark' 'United States, China, Colombia'
 'Spain, Thailand, United States' 'Mexico, Spain'
 'Ireland, Luxembourg, Belgium' 'China, United States' 'Canada, Belgium'
 'Canada, United Kingdom'
 'Lebanon, United Arab Emirates, France, Switzerland, Germany'
 'France, Belgium, Italy' 'Lebanon, United States, United Arab Emirates'
 'Lebanon, France' 'France, Lebanon' 'France, Lebanon, United Kingdom'
 'France, Norway, Lebanon, Belgium' 'Lebanon, Canada, France'
 'Sweden, Czech Republic, United Kingdom, Denmark, Netherlands'
 'United States, United Kingdom, India' 'Indonesia, Netherlands'
 'Turkey, South Korea' 'Serbia, United States' 'Namibia'
 'United Kingdom, Kenya' 'United Kingdom, France, Germany, Spain'
 'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany'
 'United States, France, Canada, Belgium' 'United Kingdom, China'
 'Germany, China, United Kingdom' 'Australia, New Zealand, United States'
 'Hong Kong, Iceland, United States' 'France, Australia, Germany'
 'United States, Belgium, Canada, France' 'South Africa, Angola'
 'United States, Philippines'
 'United States, United Kingdom, Canada, China'
 'United States, Canada, United Kingdom' 'Uruguay' 'Turkey, United States'
 'Peru, Germany, Norway' 'Mozambique' 'Brazil, France'
 'China, Spain, South Korea, United States' 'Spain, Germany'
 'Hong Kong, China' 'France, Belgium, Luxembourg, Cambodia,'
 'United Kingdom, Australia' 'Belarus' 'Indonesia, United Kingdom'
 'Switzerland, France, Belgium, United States' 'Ghana'
 'United Kingdom, Nigeria' 'Chile' 'France, Egypt' 'Egypt, France'
 'France, Brazil, Spain, Belgium' 'Egypt, Algeria'
 'Canada, South Korea, United States' 'Nigeria, United Kingdom'
 'United States, France, Canada' 'Poland, United States'
 'United Arab Emirates, Jordan, Lebanon, Saudi Arabia'
 'United States, Mexico, Spain, Malta'
 'Saudi Arabia, United Arab Emirates' 'Zimbabwe'
 'United Kingdom, Germany, United Arab Emirates, New Zealand'
 'Romania, United States' 'Canada, Nigeria'
 'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States'
 'United Kingdom, Spain' 'Finland, France'
 'United Kingdom, Germany, United States, France'
 'India, United Kingdom, China, Canada, Japan, South Korea, United States'
 'Italy, United Kingdom, France' 'United States, Mexico, Colombia'
 'Turkey, India' 'Italy, Turkey' 'United Kingdom, United States, Japan'
 'France, Belgium, United States' 'Puerto Rico, United States, Colombia'
 'Uruguay, Argentina' 'United States, United Kingdom, Japan'
 'United Kingdom, Italy' 'Ireland, United Kingdom'
 'United Kingdom, France, Belgium, Canada, United States'
 'Netherlands, Germany, Denmark, United Kingdom' 'Hungary'
 'Austria, Germany' 'Taiwan, China'
 'United Kingdom, United States, Ireland' 'South Korea, United States'
 'Brazil, United Kingdom' 'Romania, France, Switzerland, Germany'
 'France, Malta, United States' 'Cyprus'
 'United Kingdom, France, Belgium, Ireland, United States'
 'United States, Norway, Canada' 'Kenya, United States'
 'France, South Korea, Japan, United States' 'Taiwan, Malaysia'
 'Uruguay, Argentina, Germany, Spain'
 'United States, United Kingdom, France, Germany, Japan'
 'United States, France, Japan' 'United Kingdom, France, United States'
 'Spain, France, United States' 'Indonesia, South Korea, Singapore'
 'United States, Spain' 'Netherlands, Germany, Italy, Canada'
 'Norway, Sweden' 'South Korea, Canada, United States, China'
 'Argentina, Uruguay, Serbia' 'France, Japan' 'Mauritius, South Africa'
 'United States, Poland'
 'United Kingdom, United States, Germany, Denmark, Belgium, Japan'
 'India, Germany' 'India, United Kingdom, Canada, United States'
 'Philippines, United States' 'Romania, Bulgaria, Hungary'
 'Uruguay, Guatemala' 'France, Senegal, Belgium' 'United Kingdom, Canada'
 'Mexico, United States, Spain, Colombia' 'Canada, Norway'
 'Singapore, United States' 'United Kingdom, France'
 'United States, Chile' 'United Kingdom, Japan, United States'
 'Spain, United Kingdom' 'Argentina, United States, Mexico'
 'United States, South Korea, Japan' 'Canada, Australia'
 'United Kingdom, Hungary, Australia' 'Italy, Belgium' 'Switzerland'
 'Singapore, Malaysia'
 'France, Belgium, Luxembourg, Romania, Canada, United States'
 'South Africa, Nigeria' 'Spain, France' 'United Kingdom, Hong Kong'
 'Pakistan' 'Denmark, Brazil, France, Portugal, Sweden' 'India, Turkey'
 'Malaysia, Singapore, Hong Kong' 'Philippines, Singapore'
 'Australia, Canada' 'Taiwan, China, France, United States'
 'Colombia, Peru, United Kingdom' 'Thailand, China, United States'
 'Argentina, United States' 'Uruguay, Spain, Mexico'
 'France, Luxembourg, Canada' 'Chile, Argentina' 'Canada, Brazil'
 'Italy, France' 'Canada, Germany' 'Pakistan, United Arab Emirates'
 'Ghana, United States' 'Mexico, Finland'
 'United Arab Emirates, United Kingdom, India' 'Netherlands, Belgium'
 'United States, Taiwan' 'United Kingdom, Malawi' 'Paraguay, Argentina'
 'United Kingdom, Russia, United States' 'India, Pakistan'
 'Indonesia, Singapore' 'Spain, Belgium' 'Iceland, Sweden, Belgium'
 'Croatia' 'Uruguay, Argentina, Spain'
 'United Kingdom, Ireland, United States'
 'Canada, Germany, France, United States' 'United Kingdom, Japan'
 'Norway, Denmark, Netherlands, Sweden' 'Hong Kong, China, United States'
 'Ireland, Canada' 'Italy, Switzerland, France, Germany'
 'Mexico, Netherlands' 'United States, Sweden'
 'France, Iran, United States' 'United Kingdom, India'
 'Russia, Poland, Serbia' 'Spain, Portugal' 'Peru' 'Mexico, Argentina'
 'United Kingdom, Canada, United States, Cayman Islands'
 'Indonesia, United States'
 'United States, Israel, United Kingdom, Canada'
 'Norway, Iceland, United States' 'Czech Republic, United States'
 'United Kingdom, India, United States' 'United Kingdom, West Germany'
 'India, Australia' 'Belgium, United Kingdom, United States'
 'India, Germany, Austria'
 'United States, Brazil, South Korea, Mexico, Japan, Germany'
 'Spain, Mexico' 'China, Japan' 'Argentina, France'
 'China, United States, United Kingdom'
 'France, Luxembourg, United States' 'China, United States, Australia'
 'Colombia, Mexico' 'United States, Canada, Ireland' 'Chile, Peru'
 'Canada, Japan, United States'
 'United Kingdom, Canada, United States, Germany'
 'Italy, Switzerland, Albania, Poland' 'United States, Japan, Canada'
 'Cambodia' 'Saudi Arabia, Syria, Egypt, Lebanon, Kuwait'
 'United States, Canada, Indonesia, United Kingdom, China, Singapore'
 'Spain, Colombia'
 'United Kingdom, South Africa, Australia, United States' 'Bulgaria'
 'Argentina, Brazil, France, Poland, Germany, Denmark'
 'United Kingdom, Spain, United States, Germany' 'Philippines, Qatar'
 'Netherlands, Belgium, Germany, Jordan'
 'United Arab Emirates, United States' 'Norway, Germany, Sweden'
 'South Korea, China' 'Soviet Union, India'
 'Australia, United Arab Emirates' 'Canada, Germany, South Africa'
 'South Korea, China, United States' 'India, Soviet Union' 'India, Mexico'
 'Georgia, Germany, France' 'United Arab Emirates, Romania'
 'India, Malaysia' 'Germany, Jordan, Netherlands'
 'Turkey, France, Germany, Poland' 'Norway, Germany' 'France, Morocco'
 'Cambodia, United States' 'United States, Colombia, Mexico'
 'United Kingdom, Italy, Israel, Peru, United States'
 'Argentina, Uruguay, Spain, France'
 'United Kingdom, France, United States, Belgium'
 'France, Canada, China, Cambodia'
 'United Kingdom, France, Belgium, United States' 'Chile, France'
 'France, United Kingdom, India' 'Czech Republic, Slovakia'
 'Singapore, France' 'Spain, Switzerland'
 'South Africa, United States, Germany'
 'United States, United Kingdom, Australia' 'Spain, Italy, Argentina'
 'Chile, Spain, Argentina, Germany' 'Austria, Czech Republic'
 'Lebanon, Qatar' 'United Kingdom, Jordan, Qatar, Iran'
 'France, South Korea, Japan' 'Israel, Germany, France'
 'Canada, Japan, Netherlands' 'United States, Hungary' 'France, Qatar'
 'United Kingdom, Germany, Canada' 'Ireland, South Africa'
 'Chile, United States, France' 'Belgium, France, Netherlands'
 'Germany, Australia, France, China' 'Norway, United States'
 'United States, Bermuda, Ecuador'
 'United States, Hungary, Ireland, Canada'
 'United Kingdom, Egypt, United States'
 'United States, France, United Kingdom' 'Spain, Mexico, France'
 'United States, South Africa' 'Hong Kong, China, Singapore'
 'South Africa, China, United States' 'Denmark, France, Poland'
 'New Zealand, United Kingdom' 'Netherlands, Denmark, South Africa'
 'Iran, France' 'United Kingdom, United States, France, Germany'
 'Australia, France' 'Ireland, United Kingdom, United States'
 'United Kingdom, France, Germany' 'Canada, Luxembourg'
 'Brazil, Netherlands, United States, Colombia, Austria, Germany'
 'France, Canada, Belgium' 'Canada, France'
 'Bulgaria, United States, Spain, Canada' 'Sweden, Netherlands'
 'France, United States, Mexico'
 'Australia, United Kingdom, United Arab Emirates, Canada' 'India, Iran'
 'France, Belgium, Spain' 'Denmark, Sweden, Israel, United States'
 'United States, Iceland' 'United Kingdom, Russia'
 'United States, Israel, Italy, South Africa' 'South Korea, Japan'
 'United Kingdom, Pakistan'
 'United Kingdom, Czech Republic, United States, Germany, Bahamas'
 'Germany, Sri Lanka' 'United States, India, Bangladesh'
 'United States, Canada, France' 'Brazil, France, Germany'
 'Germany, United States, Hong Kong, Singapore'
 'France, Germany, Switzerland'
 'Germany, France, Luxembourg, United Kingdom, United States'
 'United Kingdom, Canada, Italy' 'Taiwan, Hong Kong, United States, China'
 'Germany, Australia' 'United Kingdom, Poland, United States'
 'United Kingdom, South Africa' 'Finland, Sweden, Norway, Latvia, Germany'
 'South Africa, United States, New Zealand, Canada'
 'United States, Italy, United Kingdom, Liechtenstein'
 'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom'
 'United States, Australia, Mexico'
 'United Kingdom, Czech Republic, Germany, United States'
 'France, China, Japan, United States' 'United States, South Korea, China'
 'Germany, Belgium' 'Pakistan, Norway, United States'
 'United States, Canada, Belgium, United Kingdom' 'Venezuela'
 'Canada, Spain, France' 'United States, Indonesia' 'Spain, France, Italy'
 'United Arab Emirates, United States, United Kingdom' 'Spain, Cuba'
 'United States, Brazil' 'United States, France, Mexico'
 'United States, Nicaragua' 'France, United Kingdom, United States'
 'United Kingdom, United States, Spain, Germany, Greece, Canada'
 'Italy, Canada, France' 'Thailand, United States'
 'United Kingdom, Denmark, Canada, Croatia' 'Italy, Germany'
 'United States, France, United Kingdom, Japan'
 'United States, United Kingdom, Denmark, Sweden'
 'United States, United Kingdom, Italy'
 'United States, France, Canada, Spain' 'Russia, United States, China'
 'United States, Canada, Germany' 'Ireland, United States'
 'United States, United Arab Emirates' 'United States, Ireland' 'Poland,'
 'Slovenia, Croatia, Germany, Czech Republic, Qatar'
 'United States, Spain, Germany' 'India, Japan'
 'United Kingdom, France, Belgium' 'Canada, Ireland, United States'
 'United Kingdom, United States, Dominican Republic'
 'Germany, United Kingdom, United States'
 'South Africa, Germany, Netherlands, France'
 'Canada, United States, United Kingdom, France, Luxembourg'
 'Ireland, United States, France' 'Germany, United States, Canada'
 'United Kingdom, Germany, Canada, United States'
 'United States, France, Canada, Lebanon, Qatar'
 'Netherlands, Belgium, United Kingdom, United States'
 'France, Belgium, China, United States' 'United States, Chile, Israel'
 'United Kingdom, Norway, Denmark, Germany, Sweden'
 'Norway, Denmark, Sweden' 'China, India, Nepal'
 'Colombia, Mexico, United States' 'United Kingdom, South Korea'
 'United States, Greece, Brazil' 'South Korea, France'
 'Germany, United Kingdom' 'Argentina, Chile, Peru' 'Turkey, Azerbaijan'
 'Poland, West Germany' 'Canada, Spain' 'United States, Cambodia'
 'United States, Greece' 'Norway, United Kingdom, France, Ireland'
 'United Kingdom, Poland' 'Pakistan, United States'
 'Israel, Sweden, Germany, Netherlands' 'Switzerland, France'
 'Chile, Argentina, France, Spain, United States'
 'United States, India, South Korea, China'
 'Denmark, Germany, Belgium, United Kingdom, France'
 'Denmark, Germany, Belgium, United Kingdom, France, Sweden'
 'France, Switzerland, Spain, United States, United Arab Emirates'
 'Brazil, India, China, United States'
 'Denmark, France, United States, Sweden' 'Australia, Iraq'
 'China, Morocco, Hong Kong' 'Canada, United States, Germany'
 'United Kingdom, Thailand' 'Colombia, United States'

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
#featuer extract
df['movive_info']=df['type'] + " " + df['title'] + " " + df['listed_in'] + " " + df['duration'] + " "  + df['director'] + " " + df['description'] + " " + df['country'] + " " + df['cast']

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
port_stem=PorterStemmer()
def stemming (movive_info):
  text_stem=re.sub('[^a-zA-Z]',' ',movive_info)
  text_stem=text_stem.lower().strip().split()
  text_stem=[port_stem.stem(word) for word in text_stem if not word in stopwords.words('english') ]
  text_stem=' '.join(text_stem)
  return text_stem

In [ ]:
df['movive_info']=df['movive_info'].apply(stemming)

In [ ]:
vectorizer=TfidfVectorizer()
content=df['movive_info'].values
tfidf_matrix=vectorizer.fit_transform(content)

In [ ]:
joblib.dump(vectorizer,"tfidf_vectorizer.pkl")
joblib.dump(tfidf_matrix,"tfidf_matrix.pkl")
df.to_csv("preprocessing_data.csv",index=False)